<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us - Jewelry Website</title>
    <link rel="stylesheet" href="stylenew.css">
</head>
<%- include('header.ejs') %>
<body class="aboutusbody">
    <!-- OUR VISION Section -->
    <section class="vision-section">
        <h1 class="vision-title">OUR VISION</h1>
    </section>

    <!-- MODERN VISION Section -->
    <section class="modern-vision">
        <div class="left-section">
            <h2>MODERN VISION</h2>
            <img src="images/ab1.jpeg" alt="Modern Vision Image">
        </div>
        <div class="right-section">
            <p>
              Welcome to our website, where we bring you an innovative way to experience jewelry shopping. At Adorn Ease, we believe that every piece of jewelry should feel as personal as it looks. That's why we've developed a virtual try-on feature, allowing you to see how different pieces look in real time before making a purchase. Whether it's earrings, nosepins, or glasses, our virtual try-on option helps you find the perfect fit with ease and confidence. Discover the future of jewelry shopping, where you can explore, experiment, and elevate your style—all from the comfort of your screen.
            </p>
        </div>
    </section>

    <!-- Meet Our Team Section -->
    <section class="team-section">
        <h2 class="team-title">MEET OUR TEAM MEMBERS</h2>
        <div class="team-cards">
            <div class="team-card">
                <img src="images/a3.jpeg" alt="Team Member 1">
                <h3>Ayesha Salam</h3>
                <p>Frontend developer</p>
            </div>
            <div class="team-card">
                <img src="images/h1.jpeg" alt="Team Member 2">
                <h3>Syeda Humna Ashfaq</h3>
                <p>Backend developer</p>
            </div>
            
        </div>
    </section>

    <script src="scriptnew.js"></script>
</body>
</html>
