
    <h2>Dashboard Overview</h2>
    <div class="sales-div">
        <div class="cards-sales" id="card-sale-1">
            <i class="fa-solid fa-layer-group"></i>
            <p>Today Orders</p>
            <h5>$414</h5>
        </div>
        <div class="cards-sales" id="card-sale-2">
            <i class="fa-solid fa-layer-group"></i>
            <p>Yesterday Orders</p>
            <h5>$414</h5>
        </div>
        <div class="cards-sales" id="card-sale-3">
            <i class="fa-solid fa-cart-shopping"></i>
            <p>This Week</p>
            <h5>$414</h5>
        </div>
        <div class="cards-sales" id="card-sale-4">
            <i class="fa-solid fa-calculator"></i>
            <p>This Month</p>
            <h5>$414</h5>
        </div>
        <div class="cards-sales" id="card-sale-5">
            <i class="fa-solid fa-calculator"></i>
            <p>This Year</p>
            <h5>$414</h5>
        </div>
    </div>
    <div class="orders">
        <div class="orders-div">
            <div class="logo-order"><i class="fa-solid fa-cart-shopping"></i></div>
            <div class="details-order">
                <h4>Total Orders</h4>
                <h3>20</h3>
            </div>
        </div>
        <div class="orders-div">
            <div class="logo-order"><i class="fa-solid fa-rotate-right"></i></div>
            <div class="details-order">
                <h4>Orders Pending</h4>
                <h3>20</h3>
            </div>
        </div>
        <div class="orders-div">
            <div class="logo-order"><i class="fa-solid fa-truck"></i></div>
            <div class="details-order">
                <h4>Orders Processing</h4>
                <h3>20</h3>
            </div>
        </div>
        <div class="orders-div">
            <div class="logo-order"><i class="fa-solid fa-check"></i></div>
            <div class="details-order">
                <h4>Orders Delivered</h4>
                <h3>20</h3>
            </div>
        </div>
    </div>
    <div class="graphs">
        <div class="graphs-div">
            <h3>Weekly Sales</h3>
        </div>
        <div class="graphs-div">
            <h3>Best Selling Products</h3>
        </div>
    </div>
