<header>
    <nav class="navbar">
      <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>

      <div class="center-content" id="navLinks">
        <a href="/">Home</a>
        <a href="/Aboutus">About</a>
        <a href="#about" style="color: gray; font-weight: bold;">ADORN EASE</a>
        <a href="/productspage">Collection</a>
        <a href="/VirtualTryOn">Virtual Try-On</a>
      </div>

      <div class="right-content">
        <div class="dropdown">
          <a href="#" class="dropbtn">
            <img src="images/prof1.png" alt="Account" />
          </a>
          <div class="dropdown-content">
            <a href="/SignUp">Sign Up</a>
            <a href="/login">Login</a>
          </div>
        </div>
       <!-- <a href="/trackorder"><img class="icons1" src="images/to3.png" alt="Account" /></a>  -->
        <a href="/addtocart"><img class="icons1" src="images/cart1.png" alt="Account" /></a>
      </div>

      <!-- Hamburger Menu Toggle Button -->
      <button class="menu-toggle" id="menuToggle" onclick="toggleMenu()">
        ☰
      </button>
    </nav>
    <div id="dropdownMenu" class="dropdown-content">
      <a href="/">Home</a>
      <a href="/Aboutus">About</a>
      <a href="#about">ADORN EASE</a>
      <a href="/productspage">Collection</a>
      <a href="#contact">Contact Us</a>
      <div class="dropdown">
        <a
          href="javascript:void(0);"
          class="dropbtn"
          onclick="toggleProfileDropdown()"
        >
          <img src="images/prof1.png" alt="Account" />
        </a>
        <div class="profile-dropdown-content" id="profileDropdown">
          <a href="/SignUp">Sign Up</a>
          <a href="/login">Login</a>
        </div>
      </div>
    </div>

    <div id="sidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()"
        >&times;</a
      >
      <div class="sidebar-item"><a href="/Help">Help Section</a></div>
      <div class="sidebar-item"><a href="/checkoutpage">Checkout Page</a></div>
     
    </div>
  </header>
