<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADORN EASE</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">

    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="/script.js"></script>
  </head>
  <body>
    <header>
      <div class="logo">Adorn Ease</div>
      <nav>
        <ul class="nav-links">
          <li><a href="#home">Home</a></li>
          <li><a href="">Virtual Try-On</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#collection">Collection</a></li>
          <li><a href="#contact">Contact</a></li>
          <li><a href="/SignUp">SignUp</a></li>
          
        </ul>
        <div class="nav-icons">
          
         

          
          <a href="#profile" class="icon"><img src="images/icons8-create-order.gif" alt="Track"></a>
          <a href="#track-order" class="icon"><img src="images/icons8-cart.gif" alt="cart"></a>
          
            <div class="dropdown">
              <a href="#profile" class="icon profile-icon"><img src="images/profileicon.png" alt="Profile"></a>
              <div class="dropdown-content">
                
                <a href="/login">Login</a>
                <a href="/SignUp">Sign Up</a>
              </div>
              </div>
          </div>
      </nav>
    </header>

    <section id="home" class="home-section">
      <div class="slider">
        <div class="slides">
          <img src="images/slide2.jpg" alt="?" />
          <img src="images/glasses6.jpg" alt="?" />
          <img src="images/slide3.jpg" alt="?" />
          <img src="images/glasses3.jpg" alt="?" />
          <img src="images/slide4.jpg" alt="?" />
          <img src="images/glasses4.jpg" alt="?" />
        </div>
      </div>
      <div class="slider-text">
        <h1>VIRTUALLY TRY ON Accessories</h1>
        <p>Discover our stunning collection of handcrafted jewelry.</p>
        <a href="/products" class="cta-button">Shop Now</a>
      </div>
    </section>

    <!-- cards section new -->
    <section class="card1-section hidden">
      <div>
        <h2
          style="
            font-size: 30px;
            margin: 20px;
            flex-direction: column;
            justify-content: center;
            text-align: center;
          "
        >
          Our Collection
        </h2>
      </div>
      <div class="container">
        <div class="card1">
          <img src="images/earingss.png" alt="Elegant Necklace" />
          <div class="card1-overlay">
            <div class="card1-body">
              <h5 class="card1-title">Elegant Earings</h5>

              <a href="/products" class="btn btn-primary">Explore Now</a>
            </div>
          </div>
        </div>
        <div class="card1">
          <img src="images/sun1.png" alt="Classic Earrings" />
          <div class="card1-overlay">
            <div class="card1-body">
              <h5 class="card1-title">Classic Eyewears</h5>

              <a href="/products" class="btn btn-primary">Explore Now</a>
            </div>
          </div>
        </div>
        <div class="card1">
          <img src="images/nose1.png" alt="Stylish Bracelet" />
          <div class="card1-overlay">
            <div class="card1-body">
              <h5 class="card1-title">Stylish Nosepins</h5>

              <a href="/products" class="btn btn-primary">Explore Now</a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- images sliding best selling scroll -->

    <section class="best-selling hidden">
      <h2 style="text-align: center; margin-top: 90px;">BEST SELLERS</h2>

      <div class="scroll-container">
        
        <div class="image-wrapper">
          <img src="images/earring1.jpeg" alt="Cinque Terre" />
          <div class="overlay">
            <div class="text">Elegant Necklace</div>
            <button class="btn">Try Now</button>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="images/earring1.jpeg" alt="Forest" />
          <div class="overlay">
            <div class="text">Classic Earrings</div>
            <button class="btn">Try Now</button>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="images/earring1.jpeg" alt="Northern Lights" />
          <div class="overlay">
            <div class="text">Stylish Bracelet</div>
            <button class="btn">Try Now</button>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="images/earring1.jpeg" alt="Northern Lights" />
          <div class="overlay">
            <div class="text">Stylish Bracelet</div>
            <button class="btn">Try Now</button>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="images/earring1.jpeg" alt="Northern Lights" />
          <div class="overlay">
            <div class="text">Stylish Bracelet</div>
            <button class="btn">Try Now</button>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="images/earring1.jpeg" alt="Northern Lights" />
          <div class="overlay">
            <div class="text">Stylish Bracelet</div>
            <button class="btn">Try Now</button>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="images/earring1.jpeg" alt="Northern Lights" />
          <div class="overlay">
            <div class="text">Stylish Bracelet</div>
            <button class="btn">Try Now</button>
          </div>
        </div>
        <div class="image-wrapper">
          <img src="images/earring1.jpeg" alt="Northern Lights" />
          <div class="overlay">
            <div class="text">Stylish Bracelet</div>
            <button class="btn">Try Now</button>
          </div>
        </div>
        <!-- Repeat for other images -->
      </div>
    </section>
    
    <section id="about" class="about-section">
      <div class="container">
        <div class="about-content">
          <!-- <h2>About Us</h2> -->
          <p>
            At Jewelry Boutique, we believe in the beauty of handcrafted pieces
            that tell a story. Our jewelry is made with the finest materials and
            utmost care. Experience the future of shopping with our innovative
            virtual try-on feature for accessories. At Adorn Ease, we're
            revolutionizing the way you shop for jewelry and accessories by
            offering a seamless virtual try-on experience.
            <br /><br />
            Discover our exquisite collection of necklaces, earrings, bracelets,
            and more from the comfort of your home. Simply upload a photo or use
            your device's camera to see how each piece complements your style
            and personality. Find the perfect accessory that enhances your look
            effortlessly, ensuring every purchase is as unique as you are.
          </p>
        </div>
      </div>
    </section>
    <div class="container">
      <p style="font-size: medium; padding-top: 10px">
        DISCOVER VIRTUAL TRY ON FEATURE
      </p>
    </div>

    <section class="video" id="video-section">
      <div id="video-container">
        <video id="landing-video" controls>
          <source src="images/video1.mp4" type="video/mp4" />
        </video>
      </div>
    </section>
    <div class="try-now-link">
      <a href="/products">EXPLORE VIRTUAL TRY ON NOW</a>
    </div>

    <section id="collection" class="collection-section">
      <h2>Featured Products</h2>
      
      <div id="formList">
        <div id="list">
            <div class="item">
                <img src="images/slide2.jpg" class="avatar">
                <div class="content">
                    <table width="100%" cellspacing="0">
                      
                        <tr>
                            <!-- <td>Product name</td> -->
                            <td>Pearl elegance</td>
                        </tr>
                        <tr>
                            <!-- <td>Price</td> -->
                            <td>Rs.5000</td>
                        </tr>
                        <tr>
                          
                          <td colspan="2" class="nameGroup">
                            <button class="action-button">Try Now</button>
                            <button class="action-button">Add to cart</button>
                        </td>
                        </tr>
                       
                       
                    </table>
                </div>
            </div>
            <div class="item">
                <img src="images/slide1.jpg" class="avatar">
                <div class="content">
                  <table width="100%" cellspacing="0">
                      
                    <tr>
                        <!-- <td>Product name</td> -->
                        <td>Pearl elegance</td>
                    </tr>
                    <tr>
                        <!-- <td>Price</td> -->
                        <td>Rs.5000</td>
                    </tr>
                    <tr>
                      
                      <td colspan="2" class="nameGroup">
                        <button class="action-button">Try Now</button>
                        <button class="action-button">Add to cart</button>
                    </td>
                    </tr>
                   
                   
                </table>
                </div>
            </div>
            <div class="item">
                <img src="images/slide3.jpg" class="avatar">
                <div class="content">
                  <table width="100%" cellspacing="0">
                      
                    <tr>
                        <!-- <td>Product name</td> -->
                        <td>Pearl elegance</td>
                    </tr>
                    <tr>
                        <!-- <td>Price</td> -->
                        <td>Rs.5000</td>
                    </tr>
                    <tr>
                      
                      <td colspan="2" class="nameGroup">
                        <button class="action-button">Try Now</button>
                        <button class="action-button">Add to cart</button>
                    </td>
                    </tr>
                   
                   
                </table>
                    
                       
                </div>
            </div>
            <div class="item">
                <img src="images/slide4.jpg" class="avatar">
                <div class="content">
                  <table width="100%" cellspacing="0">
                      
                    <tr>
                        <!-- <td>Product name</td> -->
                        <td>Pearl elegance</td>
                    </tr>
                    <tr>
                        <!-- <td>Price</td> -->
                        <td>Rs.5000</td>
                    </tr>
                    <tr>
                      
                      <td colspan="2" class="nameGroup">
                        <button class="action-button">Try Now</button>
                        <button class="action-button">Add to cart</button>
                    </td>
                    </tr>
                   
                   
                </table>
                </div>
            </div>
            <div class="item">
                <img src="images/slide5.jpg" class="avatar">
                <div class="content">
                    
                  <table width="100%" cellspacing="0">
                      
                    <tr>
                        <!-- <td>Product name</td> -->
                        <td>Pearl elegance</td>
                    </tr>
                    <tr>
                        <!-- <td>Price</td> -->
                        <td>Rs.5000</td>
                    </tr>
                    <tr>
                      
                      <td colspan="2" class="nameGroup">
                        <button class="action-button">Try Now</button>
                        <button class="action-button">Add to cart</button>
                    </td>
                    </tr>
                   
                   
                </table>
                </div>
            </div>
            <div class="item">
                <img src="images/glasses5.jpg" class="avatar">
                <div class="content">
                    
                  <table width="100%" cellspacing="0">
                      
                    <tr>
                        <!-- <td>Product name</td> -->
                        <td>Pearl elegance</td>
                    </tr>
                    <tr>
                        <!-- <td>Price</td> -->
                        <td>Rs.5000</td>
                    </tr>
                    <tr>
                      
                      <td colspan="2" class="nameGroup">
                        <button class="action-button">Try Now</button>
                        <button class="action-button">Add to cart</button>
                    </td>
                    </tr>
                   
                   
                </table>
                </div>
            </div>
        </div>
    </div>

    
    <div class="direction">
        <button id="prev"> < </button>
        <button id="next"> > </button>
    </div>
    </section>

    <section id="contact" class="contact-section">
      <h2>Contact Us</h2>
      <p>Feel free to reach out for any inquiries or custom orders.</p>
      <form>
        <input type="text" placeholder="Name" required />
        <input type="email" placeholder="Email" required />
        <textarea placeholder="Message" required></textarea>
        <button type="submit">Send Message</button>
      </form>
    </section>

    <footer>
      <p>&copy; 2024 Jewelry Boutique. All rights reserved.</p>
    </footer>
  </body>
</html>
