<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ADORN EASE</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Dancing+Script">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"
        integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
    <script src="/scripting.js"></script>


</head>

<body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
            <div id="logo">
                <img src="images/adorn logo.jpeg" alt="?">
            </div>
            <a class="navbar-brand" href="#">Adorn Ease</a>

            <div class="collapse navbar-collapse  NavItems" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Products</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Virtual Try-On</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Track</a>
                    </li>
                </ul>
            </div>
            <div>
                <i class="fa-solid fa-magnifying-glass"></i>
                <i class="fa-regular fa-heart"></i>
                <i class="fa-solid fa-cart-shopping"></i>
            </div>
            <i class="fa-regular fa-user"></i>
        </div>
    </nav>

    <div id="two-colors">
        <img src="images/br.jpeg" alt="" id="brokenimage2">
        <img src="images/br.jpeg" alt="" id="brokenimage3">

        <div id="left-color">
            <h1>Step into a world of Glamour:</h1>
            <h1>Try On Jewelry and Accessories Virtually</h1>
            <button type="button" class="btn btn-dark">Discover Now</button>
        </div>
        <img src="images/brokenglass1.jpeg" alt="" id="brokenimage">
        <img src="images/brokenglass1.jpeg" alt="" id="brokenimage1">
        <img src="images/ladyearring1.jpeg" alt="" id="floatingimage">

        <div id="right-color">
        </div>
    </div>
    <div class="collection">
        <div>
            <h2>Exquisite Collection</h2>
        </div>
        <nav class="nav">
            <a class="nav-link active" aria-current="page" href="#">All</a>
            <a class="nav-link" href="#">Earrings</a>
            <a class="nav-link" href="#">Eye wear</a>
            <a class="nav-link">Nose pin</a>
        </nav>
        <div id="imagesoptions">
            <div class="sideimages">
                <img src="images/earring.jpeg" alt="">
            </div>
            <div class="sideimages">
                <img src="images/glasses.jpeg" alt="" class="image1">
                <img src="images/diamond.jpeg" alt="" class="image1">

            </div>

        </div>
        <div>
            <button type="button" class="btn btn-dark viewAll">View All</button>
        </div>
    </div>
    <div class="collection" id="vto">
        <h2>Virtual Try-On Now Available</h2>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Aut ducimus eius reiciendis labore quam quod omnis
            temporibus tempore natus accusamus numquam quaerat veniam porro, ipsam assumenda dolores itaque animi modi
            voluptas? Libero similique soluta eum eligendi ab itaque tempore? Magni quam veniam aut omnis, qui
            voluptates ullam placeat, magnam impedit praesentium eveniet laudantium atque, deserunt modi ratione labore
            nemo voluptas perferendis quos neque nobis natus molestiae eum. Voluptate sunt doloribus nostrum excepturi
            natus quae hic ducimus culpa ullam, facere maiores quam aut laudantium consectetur ea delectus illum
            reiciendis necessitatibus neque ab. Quibusdam itaque ut sunt ex qui dolorem nesciunt atque deserunt
            reprehenderit iste excepturi possimus dignissimos placeat porro aut culpa, cum suscipit, libero modi amet
            quasi, eum ratione sit? Laboriosam neque quod atque cumque impedit qui praesentium voluptas, reprehenderit
            rerum! Accusamus quia vel a expedita porro est facere consectetur excepturi officiis, quo aperiam architecto
            nisi ex, id eum. Tenetur amet magnam, voluptatem dolorem molestiae sapiente vitae assumenda id? Vitae, saepe
            inventore dolorem animi labore suscipit quae soluta eveniet. Maiores asperiores nihil magnam nobis eaque
            quis perspiciatis vero soluta? Dolor, facilis fugit atque fuga amet aperiam porro quaerat id nam! Saepe
            earum recusandae fugiat. Amet facilis, doloribus perspiciatis deserunt dignissimos ipsam.</p>
    </div>
    <hr>
    <div id="mycontainer">
        <div id="leftdiv">
            <img src="images/ladyearring2.jpeg" alt="">

        </div>
        <div id="rightdiv">
            <div>
                <h2>Featured Products</h2>
            </div>
            <div id="three">
                <div class="threedivs">
                    <div class="mydiv"><img src="images/tops.jpg" alt=""></div>
                    <div id="pricetags">
                        <div id="titleprice">
                            <h6>diamond nose pin</h6>
                            <h6>$120</h6>
                        </div>
                        <div id="fav">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    <a href="/VirtualTryOn"><button type="button" class="btn btn-dark viewAll">Try Now</button></a>
                </div>
                <div class="threedivs">
                    <div class="mydiv"><img src="images/glasses1.jpg" alt=""></div>
                    <div id="pricetags">
                        <div id="titleprice">
                            <h6>transparent eye wear</h6>
                            <h6>$120</h6>
                        </div>
                        <div id="fav">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    <a href="/VirtualTryOn"><button type="button" class="btn btn-dark viewAll">Try Now</button></a>
                </div>
                <div class="threedivs">
                    <div class="mydiv"><img src="images/earring1.jpeg" alt=""></div>
                    <div id="pricetags">
                        <div id="titleprice">
                            <h6>gold water earrings</h6>
                            <h6>$120</h6>
                        </div>
                        <div id="fav">
                            <i class="fa-regular fa-heart"></i>
                        </div>
                    </div>
                    <a href="/VirtualTryOn"><button type="button" class="btn btn-dark viewAll">Try Now</button></a>
                </div>
            </div>

        </div>
    </div>

    <div id="facilities">
        <div class="icondesc">
            <i class="fa-solid fa-truck"></i>
            <h5>Free shipping</h5>
        </div>
        <div class="icondesc">
            <i class="fa-solid fa-arrow-rotate-left"></i>
            <h5>30 Days Return</h5>

        </div>
        <div class="icondesc">
            <i class="fa-solid fa-blog"></i>
            <h5>Blogs</h5>
        </div>
    </div>

    <footer>
        <div id="footer-container">
            <div id="browndiv">

            </div>
            <img src="images/ladyearring3.jpeg" alt="">
            <div id="twodivs">
        
                <div id="blackdiv">
                    <div id="backdivcontent">
                        <h2>Adorn Ease</h2>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Magni, ut aliquam. Saepe velit ut mollitia laudantium culpa fugiat repellendus accusantium distinctio delectus blanditiis laborum, officiis provident quam doloremque id est temporibus facere, porro beatae! Sed, eligendi soluta? Sapiente incidunt repellat ipsa! Ut facilis qui sint sed dolores magni praesentium totam quidem. Quas nihil ea corporis, harum odio neque aspernatur veritatis aperiam quae quam repudiandae ducimus ad quis illum explicabo vero, id facere deserunt ex adipisci magnam sed. Recusandae ratione quidem voluptatem facere, nisi accusantium doloribus quia commodi nam repellat iusto consectetur nulla. Autem iure natus quaerat sint fuga! Eos, voluptas?</p>
                    </div>
                    <div id="socialfooter">
                        <div><h3>Our Socials</h3></div>
                        <div id="socials">
                        <i class="fa-brands fa-facebook"></i>
                        <i class="fa-brands fa-instagram"></i>
                        <i class="fa-brands fa-twitter"></i>
                        <i class="fa-brands fa-linkedin"></i>
                    </div>
                    </div>
                    

                </div>

            </div>


        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>