<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="/script.js"></script>
    <script src="/public/scripting.js"></script>
</head>
<body class="login-body">
    
    <div class="login-container">
        <div class="login-left">
            <h2>Welcome to Adorn Ease</h2>
            <div class="login-form">
                <form action="/api/auth/login" method="post" id="loginform" onsubmit="handleLogin(event)">
                    <div class="input-box">
                        <input type="text" name="username" required>
                        <label>Username</label>
                    </div>
                    <div class="input-box">
                        <input type="password" name="password" required>
                        <label>Password</label>
                    </div>
                    <button class="loginbutton" type="submit">Login</button>
                    <p class="forgot-password">Dont have an account?</p>
                    <br>
                    <p class="sign-up"><a href="/SignUp">Sign Up</a></p>
                </form>
            </div>
        </div>
        <div class="login-right">
            <img src="images/glasses1.jpg" alt="Jewelry Image">
        </div>
    </div>
    
</body>
</html>
