<!-- navbar.html -->
<header>
    <nav class="navbar">
      <button class="sidebar-toggle" onclick="toggleSidebar()">☰</button>
      <div class="center-content">
        <a href="/">Home</a>
        <a href="#about">About</a>
        <a href="#about">ADORN EASE</a>
        <a href="#collection">Collection</a>
        <a href="#contact">Contact Us</a>
      </div>
      <div class="right-content">
        <div class="dropdown">
          <a href="#" class="dropbtn">
            <img src="images/boy.png" alt="Account" />
          </a>
          <div class="dropdown-content">
            <a href="/SignUp">Sign Up</a>
            <a href="/login">Login</a>
          </div>
        </div>
        <img class="icons1" src="images/icons8-purchase-order-30.png" alt="Order" />
        <img class="icons1" src="images/icons8-cart-50.png" alt="Cart" />
      </div>
    </nav>
  
    <div id="sidebar" class="sidebar">
      <a href="javascript:void(0)" class="closebtn" onclick="toggleSidebar()">&times;</a>
      <div class="sidebar-item"><a href="/productspage">All Products</a></div>
      <div class="sidebar-item"><a href="/checkoutpage">Checkout</a></div>
      <div class="sidebar-item"><a href="#account">My Account</a></div>
      <div class="sidebar-item"><a href="/wishlist">Wishlist</a></div>
      <div class="sidebar-item"><a href="/trackorder">Track Order</a></div>
      <div class="sidebar-item"><a href="#support">Help</a></div>
    </div>
  </header>
  