<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="style.css" />
    <script src="/script.js"></script>
    <script src="/public/scripting.js"></script>
</head>
<body class="signup-body">
    <div class="signup-container" id="signup">
        <div class="signup-left">
            <h2>Sign Up for Adorn Ease</h2>
            <form action="/api/auth/register" method="post" onsubmit="handleSignUp(event)" id="signupform">
                <div class="input-box">
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <input type="password" name="password" required>
                    <label>Password</label>
                </div>
                <button class="signupbutton" type="submit">Sign Up</button>
            </form>
        </div>
        <div class="signup-right">
            <img src="images/bg5.jpg" alt="Jewelry Image">
        </div>
    </div>
</body>