<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <!-- <link rel="stylesheet" href="style.css" /> -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="stylenew.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/script.js"></script>
    <script src="/public/scripting.js"></script>
    <script>
   function togglePasswordVisibility() {
    const passwordField = document.getElementById("password");
    const toggleIcon = document.getElementById("togglePasswordIcon");

    if (passwordField.type === "password") {
        passwordField.type = "text";
        toggleIcon.classList.remove("fa-eye");
        toggleIcon.classList.add("fa-eye-slash");
    } else {
        passwordField.type = "password";
        toggleIcon.classList.remove("fa-eye-slash");
        toggleIcon.classList.add("fa-eye");
    }
}


    </script>
    
</head>
<body class="signup-body">
    <div class="signup-container" id="signup">
        <div class="signup-left">
            <h2>Sign Up for Adorn Ease</h2>
            <form action="/api/auth/register" method="post" onsubmit="handleSignUp(event)" id="signupform">
                <div class="input-box">
                    <input type="text" name="username" required>
                    <label>Username</label>
                </div>
                <div class="input-box">
                    <input type="email" name="email" required>
                    <label>Email</label>
                </div>
                <div class="input-box">
                    <input type="password" name="password" id="password"  required>
                    <label>Password</label>
                    <!-- <span class="eye-icon" onclick="togglePasswordVisibility()">👁️</span> -->
                    <span class="eye-icon" onclick="togglePasswordVisibility()">
                        <i class="fas fa-eye" id="togglePasswordIcon"></i>
                    </span>
                </div>
                <button class="signupbutton" type="submit">Sign Up</button>
            </form>
            <p class="already-account">Already have an account? <a href="/login">Login here</a></p>
        </div>
        <div class="signup-right">
            <img src="images/Signuppic.png" alt="Jewelry Image">
        </div>
    </div>
</body>