<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="Ayeshastylesvt.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://aframe.io/releases/1.5.0/aframe.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/mind-ar@1.2.5/dist/mindar-face-aframe.prod.js"></script>
</head>

<body>
    <div class="example-container VTOAdmindiv">
        <a-scene mindar-face embedded color-space="sRGB" renderer="colorManagement: true, physicallyCorrectLights"
            vr-mode-ui="enabled: false" device-orientation-permission-ui="enabled: false"
            mindar-image="filterMinCF:0.00001; filterBeta: 1500">
            <a-assets>
                <a-asset-item id="headModel"
                    src="https://cdn.jsdelivr.net/gh/hiukim/mind-ar-js@1.2.5/examples/face-tracking/assets/sparkar/headOccluder.glb"></a-asset-item>
                <a-asset-item id="noseOccluder"
                    src="https://raw.githubusercontent.com/SyedaHumnaAshfaq/FYP_MindAR/main/models/occluders/noseoccluder.glb"></a-asset-item>

            </a-assets>
            <a-camera active="false" position="0 0 0"></a-camera>
            <a-entity mindar-face-target="anchorIndex: 168">
                <a-gltf-model mindar-face-occluder position="0 -0.3 0.15" rotation="0 0 0" scale="0.060 0.060 0.060"
                    src="#headModel"></a-gltf-model>
            </a-entity>
            <a-entity mindar-face-target="anchorIndex: 1">
                <a-gltf-model mindar-face-occluder scale="0.02 0.02 0.02 " rotation="-90 0 0" position="0 -0.02 -0.05"
                    src="#noseOccluder"></a-gltf-model>
            </a-entity>
            <!-- earings -->
            <a-entity class="earring" mindar-face-target="anchorIndex: 127">
                <a-gltf-model id="earringEntityleft" rotation="" position="" scale="" src=""
                    visible="true"></a-gltf-model>
            </a-entity>
            <a-entity class="earring" mindar-face-target="anchorIndex: 356">
                <a-gltf-model id="earringEntityright" rotation="" position="" scale="" src=""
                    visible="true"></a-gltf-model>
            </a-entity>
            <!-- glasses -->
            <a-entity mindar-face-target="anchorIndex: 168">
                <a-gltf-model id="glassesmodel" rotation="" position="" scale="" src="" visible="true"></a-gltf-model>
            </a-entity>
            <!-- nosepins -->
            <a-entity mindar-face-target="anchorIndex: 1">
                <a-gltf-model id="nosepinmodel" position="" rotation="" scale="" src="" visible="true" ></a-gltf-model>
              </a-entity> 
        </a-scene>


        <div class="VTOAdmincontrols">
            <!-- Sliders for Left Earring -->
            <h3>Left Earring Controls</h3>
            <label>Rotation X:</label>
            <input type="range" id="left-rotation-x" min="0" max="360" value="0">
            <br>
            <label>Rotation Y:</label>
            <input type="range" id="left-rotation-y" min="0" max="360" value="0">
            <br>
            <label>Rotation Z:</label>
            <input type="range" id="left-rotation-z" min="0" max="360" value="0">
            <br>
            <label>Position X:</label>
            <input type="range" id="left-position-x" min="-1" max="1" step="0.01" value="-0.02">
            <br>
            <label>Position Y:</label>
            <input type="range" id="left-position-y" min="-1" max="1" step="0.01" value="-0.43">
            <br>
            <label>Position Z:</label>
            <input type="range" id="left-position-z" min="-1" max="1" step="0.01" value="-0.1">
            <br>
            <!-- <label>Scale:</label>
        <input type="range" id="left-scale" min="0.01" max="1" step="0.01" value="0.07"> -->


            <!-- Sliders for Right Earring -->
            <h3>Right Earring Controls</h3>
            <label>Rotation X:</label>
            <input type="range" id="right-rotation-x" min="0" max="360" value="0">
            <br>
            <label>Rotation Y:</label>
            <input type="range" id="right-rotation-y" min="0" max="360" value="0">
            <br>
            <label>Rotation Z:</label>
            <input type="range" id="right-rotation-z" min="0" max="360" value="0">
            <br>
            <label>Position X:</label>
            <input type="range" id="right-position-x" min="-1" max="1" step="0.01" value="0.02">
            <br>
            <label>Position Y:</label>
            <input type="range" id="right-position-y" min="-1" max="1" step="0.01" value="-0.43">
            <br>
            <label>Position Z:</label>
            <input type="range" id="right-position-z" min="-1" max="1" step="0.01" value="-0.1">
            <br>
            <!-- <label>Scale:</label>
        <input type="range" id="right-scale" min="0.01" max="1" step="0.01" value="0.07"> -->

            <h3>Scale Control</h3>
            <label>Scale:</label>
            <input type="range" id="scale-slider" min="0.01" max="1" step="0.00001" value="0.001">
            

            <h3>Glasses Controls</h3>
            <label>Rotation X:</label>
            <input type="range" id="glasses-rotation-x" min="0" max="360" value="0">
            <br>
            <label>Rotation Y:</label>
            <input type="range" id="glasses-rotation-y" min="0" max="360" value="0">
            <br>
            <label>Position X:</label>
            <input type="range" id="glasses-position-x" min="-1" max="1" step="0.01" value="0.02">
            <br>
            <label>Position Y:</label>
            <input type="range" id="glasses-position-y" min="-1" max="1" step="0.01" value="-0.43">
            <br>
            <label>Position Z:</label>
            <input type="range" id="glasses-position-z" min="-1" max="1" step="0.01" value="-0.1">
            <br>
            <div>
            <h3>Nosepin controls</h3>
            <label>Position X:</label>
            <input type="range" id="nosepin-position-x" min="-1" max="1" step="0.01" value="0">
            <br>
            <label>Position Y:</label>
            <input type="range" id="nosepin-position-y" min="-1" max="1" step="0.01" value="0">
            <br>
            <label>Position Z:</label>
            <input type="range" id="nosepin-position-z" min="-1" max="1" step="0.01" value="0.15">
            <br>
            <label>Rotation X:</label>
            <input type="range" id="nosepin-rotation-x" min="0" max="360" value="0">
            <br>
            <label>Rotation Y:</label>
            <input type="range" id="nosepin-rotation-y" min="0" max="360" value="0">
            <br>
            <!-- <label>Rotation Z:</label>
            <input type="range" id="nosepin-rotation-z" min="0" max="360" value="0">
            <br> -->
            <div>
                <button id="set-product">Set Product</button>

            </div>
        </div>
        </div>


    </div>
</body>
<script src="scriptVTOAdmin.js"></script>

</html>